html {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

body {
    font-family: 'Architects Daughter', cursive;
    color: white;
    height: 80%;
    width: 90%;
    margin: auto;
}

#container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#card {
    display: inline-block;
    margin: auto;
    height: 45%;
    width: 40%;
    text-align: center;
    border: .25px solid lightgrey;
    background-color: white;
    color: black;
}

#card-header {
    display: flex;
    align-items: flex-end;
    text-align: center;
    height: 15%;
    width: 100%;
    font-size: 25px;
    border-bottom: 1px solid lightcoral;
}

#card-body {
    display: flex;
    height: 84.3%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between
}

h3 {
    margin: 0 auto;
    font-size: 25px;
}

p {
    margin: 0 auto;
    margin-left: 2%;
}

hr {
    margin-top: 0em;
    margin-bottom: 0.25em;
}

.card-line {
    border-bottom: 1px solid lightblue;
    font-size: 11px;
    text-align: left;
    width: 100%;
}

.card-line:last-child {
    border-bottom: none;
}